* {
  box-sizing: border-box;
}

form {
  width: 100%;
}

form > button {
  width: 100%;
  height: 45px;
}

form > div {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  margin-block-end: 10px;
  column-gap: 10px;
}

form > div > .form-item {
  width: 100%;
}

form > div > .form-item > fieldset {
  display: grid;
  border: none;
  padding: 0;
}

form > div > .form-item > fieldset > input,
form > div > .form-item > fieldset > select {
  height: 40px;
  padding: 0;
}
